.body {
  background-color: #DEFFDE;

  .container {
    margin: 0 auto;
    max-width: 1000px;

    // .header {}

    .header-title {
      margin-bottom: 10px;
      text-align: center;
      font-size: 32px;
      color: #40A6A6;
    }

    .main {
      margin: 0 auto;
      
      .keyboard {
        margin: 0 auto;
        max-width: 715px;

        .keyboard-input {
          display: block;
          margin: 0 auto 20px;
          height: 250px;
          width: 100%;
          background-color: #DEFFFF;
          border: 1px solid #40A6A6;
        }

        .keyboard-keys {
          display: flex;
          flex-wrap: wrap;
          padding: 5px;
          background-color: #DEFFFF;
          border: 1px solid #40A6A6;
          font-weight: 800;
          font-size: 15px;

          .keyboard-row {
            display: flex;
            justify-content: space-around;
            width: 100%;

            .key {
              margin-left: 4px;
              margin-bottom: 8px;
              text-align: center;
              line-height: 40px;
              height: 40px;
              border: 1px solid #000;
              border-radius: 3px;
              background-color: #9EBFBF;
              color: #FFFF00;
            }

            
            &__square {
              width: 40px;
            }
            
            &__rectangle {
              width: 80px;
            }

            &__space {
              width: 340px;
            }
            
            .special-key {
              background-color: #40A6A6;
            }

            .active {
              background-color: black;
              transition: all 0.7s;
            }
            .active-shift {
              background-color: red;
              transition: all 0.7s;
            }
            // .en {}
            // .rus {}
            // .num {}
            // .low-case {}
            // .up-case {}
            // .caps {}
            // .shift {}
            .hidden {
              display: none;
            }
          }
        }
      }

      .info {
        text-align: center;
        color: #40A6A6;
        font-size: 22px;
      }
    }
  }
}